.banner {
    background-image: url("../img/testimonibanner.jpg");
    height: 250px;
    background-position: center;
}
.contents .content {
    text-align: center;
    margin-top: 50px;
}
.contents .content2 h2 {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
}
